body {
    background-image: url("/pictures/bluescreen.jpg");
    font-family: sans-serif;
    padding-bottom: 40px;
   }
img{
    border: 0px;
    width: 250px;
    float: left;
}

h1, h3 {
    color:rgb(39, 192, 179);
    font-family: 'Times New Roman', Times, serif;
    
}
.row {
    background-color: white;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    color: rgb(39, 192, 179);
  }
  
  .fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    left: 0;
    bottom: 0;
  }
 